.container {
  /* min-height: 50px; */
  display: block;
  position: relative;
}

.pdf-reader {
  position: relative;
  padding: 10px;
  border: 1px solid #f0f0f0;
  padding: 10px;
}

.pdf-reader.hidden {
  display: none;
}

.word-card {
  position: absolute;
  display: block;
  top: 100px;
  left: 100px;
  width: 300px;
  min-height: 30px;
  padding: 10px;
  background-color: #FFFFE0;
  border: 2px solid #FFFF00;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.word-card.hidden {
  display: none;
}

.word-card h3 {
  margin: 0;
}

.driller {
  position: absolute;
  display: block;
  top: 100px;
  left: 100px;
  width: 500px;
  min-height: 30px;
  padding: 10px;
  background-color: rgb(124, 216, 124);
  border: 2px solid rgb(15, 131, 0);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.driller.hidden {
  display: none;
}